*{box-sizing:border-box;}
body{margin:0px auto; background:#2a4b5c;}
#bgimg{
	position:fixed;
	z-index:-5;
	width:100%;
	top:72px;
	border-top:3px solid red;
	border-bottom:3px solid red;}
#redborder{
	position:fixed;
	z-index:1;
	border-bottom:1px red solid;
	width:100%;
	height:24px;
	top:0px;
	background:#2a4b5c;}
#logo{
	position:fixed;
	top:10px;
	left:10px;
	width:280px;
	z-index:2;}
nav{
	position:fixed;
	top:90px;
	left:10px;
	height:40px;
	min-width:320px;
	line-height:40px;}
nav a{
	font-family:Tahoma, Geneva, sans-serif;
	color:red;
	text-decoration:none;
	font-size:24px;
	position:relative;
	z-index:5;
	display:inline;
	margin-right:20px;
	transition:all 0.3s ease-out;}
nav a:hover{color:white;}
main{
	width:calc(100% - 320px);
	max-width:800px;
	min-width:320px;
	position:absolute;
	top:100px;
	left:320px;
	padding:20px;}
h1{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:44px;
	color:white;}
p{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:22px;
	line-height:24px;
	color:white;}
#emailme{text-decoration:none; color:white;}
#email{width:50px;}
.linkwrapper{
	width:300px;
	height:250px;
	margin:0px 30px 30px 0px;
	float:left;
	position:relative;}
.linkwrapper > .portimg{
	position:absolute;
	-webkit-transform:perspective( 600px ) rotateY( 0deg );
	background:white;
	transform:perspective( 600px ) rotateY( 0deg );
	width:100%;
	height:100%;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	transition:-webkit-transform .2s linear 0s;
	transition:transform .2s linear 0s;}
.linkwrapper > .behind{
	position:absolute;
	-webkit-transform:perspective( 600px ) rotateY( 180deg );
	transform:perspective( 600px ) rotateY( 180deg );
	background:#2a4b5c;
	border:1px red solid;
	width:100%;
	height:100%;
	padding:10px;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	transition:-webkit-transform .2s linear 0s;
	transition:transform .2s linear 0s;}
.linkwrapper:hover > .portimg{
	-webkit-transform:perspective( 600px ) rotateY( -180deg );
	transform:perspective( 600px ) rotateY( -180deg );}
.linkwrapper:hover > .behind{
	-webkit-transform:perspective( 600px ) rotateY( 0deg );
	transform:perspective( 600px ) rotateY( 0deg );}
.behind a{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:22px;
	line-height:24px;
	color:red;
	text-decoration:none;
	transition:all 0.3s ease-out;}
.behind a:hover{color:white;}

footer{
	width:100%;
	min-width:320px;
	height:24px;
	background:#2a4b5c;
	z-index:1;
	border-top:1px red solid;
	line-height:24px;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	color:red;
	font-size:13px;
	position:fixed;
	bottom:0px;}

/*Responsive*/
@media screen and (max-width:640px) {
	#logo{position:absolute;}
	nav{position:absolute;}
	main{width:100%; top:100px; left:0px;}
}
